<header
    class="w-full bg-gradient-to-r from-gray-700 to-gray-800 py-12 flex items-center justify-center text-center text-white">
    <div class="w-full max-w-3xl px-6">
        <h1 class="text-3xl font-extrabold leading-tight mb-4">Resume Analysis</h1>
        <p class="text-xl text-gray-400">AI-Optimized Resume Analyzer: Tailored Feedback for the Perfect Job Match
        </p>
    </div>
</header>
<div class="grid justify-content-center m-6 w-full p-datatable-wrapper w-full">
    <p-table stripedRows [paginator]="true"  [rows]="6" [rowsPerPageOptions]="[5, 10, 20]"  [value]="reports" [scrollable]="true" scrollHeight="500px"  class="w-9">
        <ng-template #caption>
            <div class="flex">
                <p-button (onClick)="showAnalyzerDialog()" label="Create Report" icon="pi pi-microchip-ai" class="" />
                <p-button (onClick)="stagesDialog=true" [rounded]="true" severity="info" [text]="true" icon="pi pi-info-circle" class="" />

                <div class="ml-auto">
                    <!-- <p-floatlabel variant="on">
                        <p-datepicker [(ngModel)]="date" inputId="on_label" showIcon iconDisplay="input" />
                        <label for="on_label">Export by date</label>
                    </p-floatlabel> -->
                    <p-button (onClick)="getAllReports()" [outlined]="true" icon="pi pi-refresh" pTooltip="Refresh"
                        tooltipPosition="top" />
                    
                </div>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th>Report Name</th>
                <th>File Name</th>
                <th>Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template #body let-report>
            <tr>
                <td>{{ report.reportName }}</td>
                <td>{{ report.bucketFilePath?.split('/').pop() }}</td>
                <!-- <td>{{ report.reportDate }}</td> -->
                <td>{{ report.createdDate | date:'fullDate' }}</td>
                <td class="ml-auto">
                    <p-badge *ngIf="report?.status !== 'Processing'" [value]="report?.status" [severity]="getSeverity(report.status)" />
                    <!-- <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i> -->

                    <!-- <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s"
                        [style]="{ width: '10px', height: '10px' }" /> -->
                    <div *ngIf="report?.status == 'Processing'" style="text-align: center;">
                        <span style="font-weight: 500; font-size: 0.8rem;">{{report?.status}}...</span>
                        <p-progressbar mode="indeterminate"
                            [style]="{ height: '6px', width: '100%', margin: '10px auto', 'border-radius': '8px' }"
                            [styleClass]="'centered-progressbar'"></p-progressbar>
                    </div>
                    
                </td>
                <td class="ml-auto">
                    <!-- <p-button pTooltip="View Report" tooltipPosition="top" icon="pi pi-eye" [rounded]="true" [text]="true"/> -->
                    <button [disabled]="!report.status.includes('Generated')" pTooltip="Download" tooltipPosition="top" pButton pRipple type="button" [icon]="'pi pi-download'" (click)="downloadFile(report)" size="small" text></button>
                </td>
                
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="5">No reports found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-confirmpopup />

<p-dialog header="Create Report" [dismissableMask]="true" [modal]="true" [(visible)]="showCreateReportDialog"
    [style]="{ width: '35rem' }">
    <form class="grid flex mt-3" [formGroup]="analyzeForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="flex items-center gap-4  col-12 field">
            <p-floatlabel class="w-full">
                <input formControlName="reportName" pInputText id="over_label" autocomplete="off" class="w-full" />
                <label for="over_label">Report Name</label>
            </p-floatlabel>
        </div>
        <div class="flex items-center col-12 field">
            <p-floatlabel class="w-full">
                <textarea  formControlName="jobDescription" variant="filled" pTextarea id="over_label" rows="5" cols="30" style="resize: none"
                    class="h-full w-full"></textarea>
                <label for="over_label">Job Description</label>
            </p-floatlabel>
        </div>
        <div class="flex items-center col-6 field">
            <!-- <p-floatlabel>
                <p-datepicker formControlName="reminderDate" showIcon iconDisplay="input" appendTo="body"
                    [(ngModel)]="reminderDate" [showButtonBar]="true" />
                <label for="over_label">Add Date</label>
            </p-floatlabel> -->
            <p-fileupload mode="basic" name="demo[]" chooseIcon="pi pi-upload" customUpload="true"
                accept=".pdf" maxFileSize="1000000" (onSelect)="onBasicUploadAuto($event)" [auto]="false" chooseLabel="Upload Resume" />
        </div>
        <!-- <div class="flex items-center col-6 field">
            <p-floatlabel>
                
                <label for="over_label">Add Time</label>
            </p-floatlabel>
        </div>
        <div class="flex items-center col-6 field">
            <p-autocomplete formControlName="priority" [dropdown]="true" [suggestions]="items" field="priority"
                appendTo="body" (completeMethod)="search($event)" />
        </div>
        <div class="flex items-center col-6 field">
            <p-autocomplete formControlName="frequency" [dropdown]="true" [suggestions]="frequencyitems"
                field="freqName" appendTo="body" (completeMethod)="searchFreq($event)" />
        </div> -->
        <div class=" col-12 flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="showCreateReportDialog = false" />
            <p-button label="Save" type="submit" />
        </div>
    </form>
</p-dialog>

<p-dialog header="Report Creation Stages" [style]="{ width: '35rem' }" [dismissableMask]="true" [modal]="true" [(visible)]="stagesDialog">
    <p-stepper [value]="1" class="basis-[50rem]">
        <p-step-list>
            <p-step [value]="1">Queued</p-step>
            <p-step [value]="2">Processing</p-step>
            <p-step [value]="3">Generated</p-step>
        </p-step-list>
        <p-step-panels>
            <p-step-panel [value]="1">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-48 ">
                        <div class="border-2 p-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                            To generate a report, the user begins by creating the report, which involves entering the job description details and
                            uploading their resume. After reviewing the provided information, the user submits the report for processing. Once
                            submitted, the report is placed in a queue and will be processed shortly.
                        </div>
                        <div class="flex pt-6 justify-end">
                            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                                (onClick)="activateCallback(2)" />
                        </div>
                    </div>
                </ng-template>
            </p-step-panel>
    
            <p-step-panel [value]="2">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-48">
                        <div
                            class="border-2 p-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                            In the Processing stage, the uploaded resume is thoroughly scanned, and relevant details are extracted. Using advanced
                            AI models, a tailored report is then prepared by analyzing the resume against the provided job description, ensuring
                            alignment with the key skills and requirements outlined in the listing.
                        </div>
                    </div>
                    <div class="flex pt-6 justify-between">
                        <p-button label="Back" severity="secondary" icon="pi pi-arrow-left"
                            (onClick)="activateCallback(1)" />
                        <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)" />
                    </div>
                </ng-template>
            </p-step-panel>
    
            <p-step-panel [value]="3">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-48">
                        <div
                            class="border-2 p-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                            In the Generated stage, the report has been successfully created and is now available for download. The report provides
                            insights based on the comparison between the resume and the job description, ensuring that key skills and qualifications
                            are highlighted for optimal alignment.
                        </div>
                    </div>
                    <div class="flex pt-6 justify-start">
                        <p-button label="Back" icon="pi pi-arrow-left" iconPos="right" (onClick)="activateCallback(2)" />
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-panels>
    </p-stepper>
</p-dialog>