<div class="h-screen flex items-center justify-center bg-gray-900">
    <p-card >
        <h2 class="text-3xl font-semibold text-center text-white mb-6">Create Your Account</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"
            class="space-y-6 sm:space-y-8 lg:grid lg:grid-cols-2 xl:grid-cols-3 lg:gap-6 lg:space-y-0">
            <div class="space-y-4">
                <label for="username" class="block text-lg font-medium text-gray-300">Username</label>
                <input pInputText id="username" formControlName="username" type="text"
                    class="p-inputtext-md" />
                <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched"
                    class="text-sm text-red-500 mt-2">Username is required.</div>
            </div>
            <div class="space-y-4">
                <label for="password" class="block text-lg font-medium text-gray-300">Password</label>
                <input pInputText id="password" formControlName="password" type="password"
                    class="p-inputtext-md" />
                <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
                    class="text-sm text-red-500 mt-2">Password is required.</div>
            </div>
            <div class="space-y-4">
                <label for="DOB" class="block text-lg font-medium text-gray-300">Date of Birth</label>
                <input pInputText id="DOB" formControlName="DOB" type="date"
                    class="p-inputtext-md" />
                <div *ngIf="registerForm.get('DOB')?.invalid && registerForm.get('DOB')?.touched"
                    class="text-sm text-red-500 mt-2">Date of Birth is required.</div>
            </div>
            <div class="space-y-4">
                <label for="email" class="block text-lg font-medium text-gray-300">Email</label>
                <input pInputText id="email" formControlName="email" type="email"
                    class="p-inputtext-md" />
                <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
                    class="text-sm text-red-500 mt-2">Please enter a valid email.</div>
            </div>
            <div class="space-y-4">
                <label for="addressLine1" class="block text-lg font-medium text-gray-300">Address Line 1</label>
                <input pInputText id="addressLine1" formControlName="addressLine1" type="text"
                    class="p-inputtext-md" />
                <div *ngIf="registerForm.get('addressLine1')?.invalid && registerForm.get('addressLine1')?.touched"
                    class="text-sm text-red-500 mt-2">Address Line 1 is required.</div>
            </div>
            <div class="space-y-4">
                <label for="addressLine2" class="block text-lg font-medium text-gray-300">Address Line 2</label>
                <input pInputText id="addressLine2" formControlName="addressLine2" type="text"
                    class="p-inputtext-md" />
                <div *ngIf="registerForm.get('addressLine2')?.invalid && registerForm.get('addressLine2')?.touched"
                    class="text-sm text-red-500 mt-2">Address Line 2 is required.</div>
            </div>
            <div class="space-y-4">
                <label for="firstName" class="block text-lg font-medium text-gray-300">First Name</label>
                <input pInputText id="firstName" formControlName="firstName" type="text"
                    class="p-inputtext-md" />
                <div *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched"
                    class="text-sm text-red-500 mt-2">First name is required.</div>
            </div>
            <div class="space-y-4">
                <label for="lastName" class="block text-lg font-medium text-gray-300">Last Name</label>
                <input pInputText id="lastName" formControlName="lastName" type="text"
                    class="p-inputtext-md" />
                <div *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched" class="text-sm text-red-500 mt-2">
                    Last name is required.</div>
            </div>

            <div class="space-y-4">
                <label for="phone" class="block text-lg font-medium text-gray-300">Phone</label>
                <input pInputText id="phone" formControlName="phone" type="tel"
                    class="p-inputtext-md" />
                <div *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched"
                    class="text-sm text-red-500 mt-2">Phone number is required.</div>
            </div>

            <div class="w-full lg:col-span-2 xl:col-span-3 flex justify-center mt-8">
                <button pButton type="submit" [disabled]="registerForm.invalid">
                    Register
                </button>
            </div>
        </form>
    </p-card>
</div>