<div class="min-h-screen bg-gray-900 flex flex-col items-center">
  <!-- Header Section -->
  <header
    class="w-full bg-gradient-to-r from-gray-700 to-gray-800 py-12 flex items-center justify-center text-center text-white">
    <div class="w-full max-w-3xl px-6">
      <h1 class="text-3xl font-extrabold leading-tight mb-4">{{firstName}}'s Journal Entries</h1>
      <p class="text-xl text-gray-400">Keep track of your tasks, descriptions, and types of work in a structured manner.
      </p>
    </div>
  </header>

  <!-- Entries Table Section -->
  <main class="flex-grow flex items-center justify-center w-full px-4">
    <div class="bg-gray-800 p-12 rounded-lg shadow-2xl w-full max-w-7xl m-6">
      <p-table stripedRows  [scrollable]="true" scrollHeight="350px" [value]="entries" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[5, 10, 20]">
        <ng-template #header>
          <tr>
            <th style="width:25%">Date of Entry</th>
            <th style="width:25%">Title</th>
            <th style="width:25%">Type of Work</th>
            <th style="width:25%">Last Modified</th>
            <th style="width:25%">Action</th>
          </tr>
        </ng-template>
        <ng-template #body let-customer>
          <tr>
            <td>{{ customer.date | date:'fullDate'  }}</td>
            <td>{{ customer.entryTitle }}</td>
            <td>{{customer.workType?.workType}}</td>
            <td>{{customer.lastModified| date:'fullDate'}}</td>

            <td class="flex">
              <button pTooltip="Edit" (click)="showEdit(customer)" tooltipPosition="top" pButton pRipple type="button" [icon]="'pi pi-pencil'" size="small" text></button>
              <button pTooltip="Delete" (click)="deleteConfirm($event,customer.id)" tooltipPosition="top" pButton pRipple type="button" [icon]="'pi pi-trash'"  size="small" text></button>
              <button pTooltip="View" (click)="viewEntry(customer)" tooltipPosition="top" pButton pRipple type="button" [icon]="'pi pi-eye'" size="small" text></button>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </main>
  <p-confirmpopup />

  <p-dialog dismissableMask="true" header="Edit Entry" [modal]="true" [(visible)]="editDialog" [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
    <!-- <p-editor [(ngModel)]="editDescription" [style]="{ height: '320px' }" /> -->
    <form class="grid " [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <!-- Task Input -->
      <div class="col-7 field">
        <label for="task" class="block text-lg font-medium text-gray-300">Task</label>
        <input pInputText type="text" id="task" formControlName="taskName" class=" w-full px-3 h-11 text-lg "
          placeholder="Enter the task name" />
      </div>
      <!-- Type of Work Dropdown -->
      <div class="col-4 field">
        <label for="typeOfWork" class="block text-lg font-medium text-gray-300">Type of Work</label>
        <p-autocomplete class="p-autocomplete h-11 w-full" [showClear]="true" [(ngModel)]="selectedWorkType"
          [ngModelOptions]="{standalone: true}" [dropdown]="true" [suggestions]="workTypeCategory" field="workType"
          (completeMethod)="search($event)" />
      </div>
      <!-- Description Input -->
      <div class="col-12 field">
        <label for="description" class="block text-lg font-medium text-gray-300">Description</label>
        <p-editor [(ngModel)]="description" [ngModelOptions]="{standalone: true}" [style]="{ height: '320px' }" />
      </div>
      <div class="col-10 field">
        <label for="date" class="block text-lg font-medium text-gray-300">Date</label>
        <p-datepicker dateFormat="yy-mm-dd" [(ngModel)]="entryDate" dataType="string" [ngModelOptions]="{standalone: true}" [iconDisplay]="'input'" [showIcon]="true"
          inputId="icondisplay" />
      </div>
      <div class="col-2 mt-5">
        <button [disabled]="taskForm.invalid" pButton type="submit"
          class="w-full text-white py-2 shadow-md text-lg font-semibold ">
          Update
        </button>
      </div>
    </form>
  </p-dialog>
  



  <p-dialog dismissableMask="true" header="{{editEntry?.entryTitle}}" [modal]="true" [(visible)]="viewDialog"
    [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
    <div class="p-d-flex p-jc-between p-ai-center">
      <!-- Heading and Paragraph in the same row -->
      <!-- <div>
        <p class="font-bold">{{ editEntry?.date | date:'fullDate' }}</p>
      
        <p class="text-2xl" [innerHTML]="editEntry?.description"></p>
      </div> -->

      <p-fieldset>
        <ng-template #header>
          <div class="flex items-center gap-2 px-2">
            <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" /> -->
            <span class="font-bold">{{fullName}} | {{editEntry?.date | date:'fullDate'}}</span>
          </div>
        </ng-template>
        <p class="m-0" [innerHTML]="editEntry?.description"></p>
      </p-fieldset>
    </div>
  </p-dialog>

  <!-- Footer Section -->
  <footer class="w-full bg-gray-800 py-4">
    <p class="text-center text-white text-sm">&copy; 2025 Journal App. All rights reserved.</p>
  </footer>
</div>