/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


// .card-shadow {
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Custom shadow */
//   border-radius: 12px;
//   padding: 16px;
// }


.logo {
  width: 100px; /* Adjust the size */
  height: 40px;
}
.p-datepicker{
  display: flex;
  height: 71% !important;
}

.p-autocomplete {
  width: 100%;
}

.cursor{
  cursor: pointer;
}

p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-word;
}
.custom-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3); /* Gray transparent background */
  backdrop-filter: blur(4px); /* Blur effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

p-progressSpinner {
  z-index: 1001;
}