<div class="min-h-screen bg-gray-900 flex flex-col items-center">
    <!-- Navbar Section -->
    <!-- <nav class="w-full bg-gradient-to-r from-blue-800 to-purple-700 shadow-md py-4">
        <div class="max-w-7xl mx-auto px-6 flex items-center justify-between">
            <a href="#" class="text-white text-2xl font-semibold tracking-wider hover:text-gray-300">Journal App</a>
            <div>
                <a href="/entries" class="text-white text-lg font-medium hover:text-gray-300">Go to Entries</a>
            </div>
        </div>
    </nav> -->

    <!-- Header Section -->
    <header
        class="w-full bg-gradient-to-r from-gray-700 to-gray-800 py-10 flex items-center justify-center text-center text-white">
        <div class="w-full max-w-3xl px-6">
            <h1 class="text-4xl font-extrabold leading-tight mb-4">{{firstName}}'s Personal Journal</h1>
            <p class="text-xl text-gray-400">Stay organized and focused by tracking tasks, projects, and ideas
                effortlessly.</p>
            <h1 class="mt-1 text-xl font-extrabold leading-tight ">Create your entry below</h1>
        </div>
    </header>

    <!-- Main Form Section -->
    <main id="form" class="">
        <div class="bg-gray-800 p-4 rounded-lg shadow-2xl w-full  m-3">
            <!-- <h2 class="text-3xl font-bold mb-5 text-center">Task Form</h2> -->
            <form class="grid flex" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
                <!-- Task Input -->
                <div class="col-6 field">
                    <label for="task" class="block text-lg font-medium text-gray-300">Title</label>
                    <input pInputText type="text" id="task" formControlName="taskName"
                        class=" w-full px-3 h-11 text-lg " placeholder="Enter Title" />
                </div>
                <!-- Type of Work Dropdown -->
                <div class="col-4 field">
                    <label for="typeOfWork" class="block text-lg font-medium text-gray-300">Type of Work</label>
                    <p-autocomplete class="p-autocomplete h-11 w-full" [showClear]="true" [(ngModel)]="selectedWorkType"
                        [ngModelOptions]="{standalone: true}" [dropdown]="true" [suggestions]="workTypeCategory"
                        field="workType" (completeMethod)="search($event)" />
                </div>
                <div class="col-2 field">
                    <label for="date" class="block text-lg font-medium w-full text-gray-300">Date</label>
                    <p-datepicker [(ngModel)]="entryDate" formControlName="date" [iconDisplay]="'input'" class="p-datepicker"
                        [showIcon]="true" inputId="icondisplay" />
                </div>
                <!-- Description Input -->
                <div class="col-12 field">
                    <label for="description" class="block text-lg font-medium text-gray-300">Description</label>
                    <p-editor formControlName="description" [style]="{ height: '300px' }" />
                </div>

                <div class="col-2 ">
                    <button [disabled]="taskForm.invalid" pButton type="submit"
                        class="w-full text-white py-2 shadow-md text-lg font-semibold ">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </main>

    <!-- Footer Section -->
    <footer class="w-full bg-gray-800 py-4">
        <p class="text-center text-white text-sm">&copy; 2025 Journal App. All rights reserved.</p>
    </footer>
</div>